<!DOCTYPE html>
<html lang="en">

<head>
    <title> Recipe details | More Recipe</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon fonts from google -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- materialize include -->
    <link rel="stylesheet" type="text/css" href="../css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <!-- site navigation -->
    <nav class="nav-wrapper">
        <div class="container">
            <a href="../../index.html" class="brand-logo">More Recipe</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="nav-mobile right hide-on-med-and-down">

                    <a class="waves-effect waves-light btn brown modal-trigger" href="#login">Login | SignUp</a>                
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a class="btn brown" href="registration.html">Signup</a></li>
            </ul>
        </div>

    </nav>
    
    <!-- end of site navigation  -->
    <div id="login" class="modal">
            <div class="modal-content">
                    <div class="col s12 m4">
                            <h4>Login Form:</h4>
                        </div>
                        <form class="col s12" action="./Templates/html/home.html">
            
                            <div class="row">
                                <div class="input-field col s12 ">
                                    <input id="email" type="email" class="validate" placeholder="Email or Username">
                                    <label for="email" data-error="wrong" data-success="right">Username</label>
                                </div>
                                <div class="input-field col s12 ">
                                    <input type="password" name="password" placeholder="password">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <button class="btn  brown darken-2">Login</button>
                            <span>Forgot password?  <a href="#">Click here</a> or <a href="./Templates/html/registration.html">Sign Up</a></span>
                        </form>
                    </div>
            </div>
    <div class="container" id="main">            
        <!-- recipe details -->
        <div class="row">
            <h1>Recipe one: making egusi soup</h1>
            <div class="col s12 m6 ">

                <div>
                    <h4>Description</h4>
                    <p>for one to be able to make potato chips for one to be able to make potato chipsfor one to be able to
                        make potato chipsfor one to be able to make potato chipsfor one to be able to make potato chipsfor
                        one to be able to make potato chips. </p>
                </div>

            </div>
            <div class="col s12 m6">
                <div class="card-image">
                    <img src="../../images/image.jpg" class="image" alt="">
                </div>
                <div class="card-title">
                    <a href="#reviews" class="btn brown darken-2">Reviews <span id="reivews">(7)</span></a>
                    <a href="#" class="btn brown darken-2"><i class="material-icons">thumb_up</i><span class="" id="up_vote">12</span></a>
                    <a href="#" class="btn brown darken-2"><i class="material-icons">thumb_down</i><span id="down_vote">3</span> </a>
                </div>
            </div>
        </div>
        <hr>
        <h4>Ingredients</h4>
        <ol>
            <li>500g Egusi (Melon) seeds</li>
            <li>3 cooking spoons red palm oil.</li>
            <li>Beef: best cut and Shaki (cow tripe)</li>
            <li>Fish: dry fish and stockfish.</li>
            <li>2 tablespoons ground crayfish.</li>
            <li>Pepper and Salt (to taste)</li>
            <li>Vegetable: Nigerian pumpkin leaves, spinach or bitter leaf.</li>
            <li>3 small stock cubes</li>
        </ol>
        <!-- user reviews -->
        <div class="row">
            <div class="col s12 m6">
                <h4>Reviews</h4>
                <div class="my-review">
                    <h6><strong>Wow! nice recipe</strong> </h6>
                    <hr>
                    <p>As a cake decorator, I've tried a lot of different "doctored cake mix" recipes. This is one of the best I've tried. I love how it only takes 1 cup of sour cream (others take 2 cups)
                        <br>
                    <span class="author right">by chidibere</span>
                    </p>
                </div>
                <br>
                <form action="" class="">
                    <div class="input-field">
                        <input type="text" name="title" disabled>
                        <label for="title">Review Title</label>
                    </div>
                    <div class="input-field">
                        <textarea name="reviews" id="reviews" cols="30" rows="10" disabled class="materialize-textarea"></textarea>
                        <label for="reviews">Enter your reviews</label>
                    </div>
                    <button type="submit" class="btn brown darken-2">Post Review</button>
                </form>
            </div>

        </div>
    </div>


    <!-- site footer -->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container center">
                © 2017 More Recipe
            </div>
        </div>
    </footer>

    <!-- materialize and jquery includes -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
    
</body>

</html>