<!DOCTYPE html>
<html lang="en">

<head>
    <title>More Recipe</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon fonts from google -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- materialize include -->
    <link rel="stylesheet" type="text/css" href="../css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <!-- site navigation -->
    <nav class="nav-wrapper">
        <div class="container">
            <a href="home.html" class="brand-logo">More Recipe</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="nav-mobile right hide-on-med-and-down" >
                <li><input type="search" name="search" placeholder="Find Recipes" class="input-field"></li>
                <li><button type="search" class="btn brown lighten-2">Search</button></li>
                <li><a href="home.html">Top Recipes</a></li>
                <li><a href="favorites.html">Favorites</a></li>
                <li><a href="my_recipe.html">My Recipe</a></li>
                <li><a href="profile.html"> Profile</a></li>
            </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a class="btn brown" href="home.html">Top Recipes</a></li>
                    <li><a class="btn brown" href="favorites.html">Favorites</a></li>
                    <li><a class="btn brown" href="my_recipe.html">My Recipe</a></li>
                    <li><a class="btn brown" href="profile.html"> Profile</a></li>
                </ul>
        </div>
    </nav>
    <!-- end of site navigation  -->
    <!-- user details -->
    <div class="container" id="main">
        <div class="row">
            <div class="col s12 m4">
                <img src="../../images/avatar.png" class="image" alt="">
            </div>
            <div class="col s12 m8">
                <h3>
                    Richard Hendricks
                </h3>
                <p>Email: richardhendricks@morerecipe.com</p>
            </div>
        </div>
        <hr>
        <h4 class="fav-title">Favorite Recipes</h4>
        <hr>
        <!-- list of favorite recipes -->
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <a href="details.html"><img src="../../images/image.jpg" alt="Recipe image"></a>
                    </div>
                    <div class="card-panel">
                        <a href="details.html"><span class="card-title middle">My first favorite recipe </span></a>
                        <p>by chidex</p>
                        <div class="card-title">
                            <a href="#reviews" class="btn brown darken-2">Reviews <span id="reivews">(7)</span></a>
                            <a href="#" class="btn brown darken-2"><i class="material-icons ">thumb_up</i><span class="" id="up_vote">12</span></a>
                            <a href="#" class="btn brown darken-2 "><i class="material-icons ">thumb_down</i><span id="down_vote">3</span> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <a href="details.html"><img src="../../images/image.jpg" alt="Recipe image"></a>
                    </div>
                    <div class="card-panel">
                        <a href="details.html"><span class="card-title middle">My first favorite recipe </span></a>
                        <p>by chidiebere</p>
                        <div class="card-title">
                            <a href="#reviews" class="btn brown darken-2">Reviews <span id="reivews">(7)</span></a>
                            <a href="#" class="btn brown darken-2"><i class="material-icons ">thumb_up</i><span class="" id="up_vote">12</span></a>
                            <a href="#" class="btn brown darken-2 "><i class="material-icons ">thumb_down</i><span id="down_vote">3</span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container center">
                © 2017 More Recipe
            </div>
        </div>
    </footer>


    <!-- materialize and jquery includes -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>    
</body>

</html>