$btn-backround-color: #552a14;
$btn-hover: #b5856b;

.search {
  .search-btn {
    button { 
      background-color: inherit;
      height: 50px;
      margin-left: -12.5em;
      border-radius: 5px;
      border-color: transparent;      
      }
      .material-icons {
        line-height: 50px;
    }
  }

  .search-input {
    input[type=search] {
      background-color: $btn-backround-color;
      border-radius: 5px;
      color: white;
      height: 50px;
      padding-left: 3em;
      width: 100%;

      &:focus {
        background-color: $btn-hover;
      }
    }

    input[type=search]:not(.browser-default):focus:not([readonly]){ 
      border-bottom: 0;
      box-shadow: 0;
    }
  }
}