.input-field input[type=search] {
  background-color: #fff;
  margin-bottom: 0;
  padding-left: 4px;
  border-radius: 10px;
}
.search-result{
  a{
    list-style-type: none;
    padding: 5px 5px;
    display: block;
    color: green;
    img{
      max-height: 50px;
      max-width: 50px;
      padding: 5px;
      display: inline-block;
    }
  }
  a:hover{
    background: grey;
    color: #fff;
  }
  margin-top: 2px; 
  background-color: #fff;
  box-shadow: 4px 4px 4px rgb(46, 45, 45);
  max-height: 200px;
  overflow: scroll;
  border-radius: 5px;
}
.search-btn{
  i{
    margin-left: -35px;
    padding-top: 5px;
  }
  cursor: pointer;
}
.search-btn:hover{
  i{
    
    color: rgb(66, 17, 17) !important;
  }
}