@import "../styles/sass/base";

$review-color: #808080;
$textarea-border-color: $review-color;
$text-area-text-color: darken($review-color, 10);
$text-area-bg-color: $white-color;

$btn-border-color: $textarea-border-color;
$btn-color: $btn-border-color;
$btn-bg-color: $white-color;
$btn-hover-bg-color: $btn-color;
$btn-hover-color: $btn-bg-color;

$no-reviews-color: lighten($review-color, 10);
$review-bg-color: $white-color;
$user-text-color: #5151b6;


.review-list {
  .no-reviews {
    color: $no-reviews-color;
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
    text-align: center;
  }
}

.review-form {
  margin: 20px 10px;

  .review-input {
    margin-bottom: 10px;

    textarea {
      background-color: $text-area-bg-color;
      border: 1px $textarea-border-color solid;
      border-radius: 5px;
      color: $text-area-text-color;
      height: 70px;
      padding: 5px;
      resize: none;

      &:focus {
        border: 2px $textarea-border-color solid;
        outline: 0;
      }
    }
  }

  .btn-class {
    background-color: $btn-bg-color;
    border: 1px $btn-border-color solid;
    border-radius: 5px;
    color: $btn-color;
    padding: 10px;
    width: 150px;

    &:hover {
      background-color: $btn-hover-bg-color;
      color: $btn-hover-color;
      font-weight: bolder;
    }
  }
}


.single-review {
  background-color: $review-bg-color;
  border-radius: 5px;
  color: $review-color;
  margin: 5px auto;
  padding: 10px;
  height: 170px;
  overflow: auto;

  @media only screen
  and (min-device-width: 690px)
  and (max-device-width: 995px)
  and (-webkit-min-device-pixel-ratio: 1) {
    height: auto;
    overflow: visible;
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    height: auto;
    overflow: visible;
  }

  .meta-date {
    font-family: 'Ubuntu', sans-serif;
  }

  .user {
    color: $user-text-color;
    margin-right: 10px;
    text-transform: capitalize;
  }

  .review-content {
    color: $review-color;
    overflow-wrap: break-word;
  }


}

.reviews-page {
  margin-top: 50px;
}
