
$brown-color: rgb(165, 42, 42);

$textarea-border-color: rgb(134, 62, 62);
$text-area-text-color: $brown-color;
$text-area-bg-color: #fff;

$btn-border-color: $textarea-border-color;
$btn-color: $btn-border-color;
$btn-bg-color: #fff;

$no-reviews-color: rgb(156, 136, 136);
$review-bg-color: #fff;
$review-color: grey;
$user-text-color: blue;


.review-list {
  .no-reviews {
    color: $no-reviews-color;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-style: italic;
  }
}

.review-form {
  margin: 20px 10px;
  
  .review-input {
    margin-bottom: 10px; 

    textarea {
      border: 1px $textarea-border-color solid;
      border-radius: 5px;
      height: 50px;
      padding: 5px;
      resize: none;
      background-color: $text-area-bg-color;
      color: $text-area-text-color;

      &:focus {
        outline:0;
        height: 70px;
      }
    }
  }

  .btn-class {
    width: 150px;
    border: 1px $btn-border-color solid;
    color: $btn-color;
    background-color: $btn-bg-color;
    border-radius: 5px;

    &:hover {
      font-weight: bolder;
    }
  }
}


.single-review {
  background-color: $review-bg-color;
  color: $review-color;
  padding: 10px 5px;
  border-radius: 5px;
  margin: 5px auto;

  .meta-date {
    font-family: 'Ubuntu', sans-serif;
  }

  .user {
    color: $user-text-color;
    margin-right: 10px;
    text-transform: capitalize;
  }

  .review-content {
    color: grey;
  }


}

.reviews-page {
  margin-top: 50px;
}