.recipe-details {
  h2,h4 {
    text-transform: capitalize;
  }
  .description-text {
    text-align: center;
  }
  button{
    border: none;
    background-color: transparent
  }
  button:focus{
    background-color: transparent;
  }
  .heading{
    padding-left: 20px;
  }
  .h-line{
    height: 1px;
    margin-bottom: 10px;
    outline: none;
  }
  .recipe-title{
    padding-top: 30px;
  }
}
.recipe-not-found {
  text-align: center;
  &h4{
    text-align: center;
  }  
}
