@import "../../styles/sass/base";

$btn-bg-color: $white-color;
$card-linkl-color: $brown-color;
$meta-data-color: $grey-color;

#recipe-card {
  height: 400px;
  margin: 0 auto;

  img {
     height: 250px;
     width: fit-content;
  }

  .card {
    padding: 0;
  }

  .ellipses {
    margin: 20px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Ubuntu', sans-serif;
  }

  a {
    color: $card-linkl-color;

    &:hover {
     text-decoration: underline;
    }
  }

  .recipe-author {
    padding: 5px;
    color: $meta-data-color;
    font-family: 'Ubuntu', sans-serif;
    span {
      color: $card-linkl-color
    }
  }

  button {
    border: none;

    :focus{
      background-color: $btn-bg-color;
    }
  }
}