$text-color: white;
$btn-color: BD8E8C;
$btn-hover: 946463;
.header-logo {
  padding: 10px;
}
.landing-image{
  background-image: url("../../../images/more-recipe-cover.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin: 0px;
  .quote-text {
    font-family: 'Spectral SC', serif;
    color: $text-color;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    & span{
      font-style: italic;
    }
  }
  .authenticate {
    padding-top: 50px;
    color: $text-color;
    font-size: 20px;
    text-align: center;
    .landing-btn {
      margin-top: 20px;
      background-color: $btn-color;
      color: $text-color;
      display: block;
      width: 30%;
      border: none;
      margin-left: 35%;
      padding: 10px;
      &:hover{
        background-color: $btn-hover;
      }
      a {
        color: inherit;
      }
    }
  }
  
}
