img{
  max-height: 400px;
  max-width: 300px;
  align-items: center;
}
.profile-page {
  max-width: 600px;
  margin: 10px;
  padding: 10px;

  button{
    
  }
}
.profile-name{
  color: #080847;
  text-transform: capitalize;
}