$nav-background-color: rgba(78, 31, 31, 0.877);
$btn-color: 562624;
$btn-hover-color: BD8E8C; 

 .update-title {
   padding-bottom: 10px;
   text-transform: capitalize;
   font-size: 20px;
   text-align: center;
   color: 1B421E;
 }
 .submit-btn {
  background-color: $btn-color;
  &:hover{
    background-color: $btn-hover-color;
  }
}
.upload-btn {
  background-color: $btn-color;
  &:hover{
    background-color: $btn-hover-color;
  }
}

 .update-form{
   padding-top: 20px;
 }
 .modal .modal-content {
  padding: 0px;
 }