$footer-bg-color: grey;;
$footer-color: #fff;
.page-footer {
  background-color: $footer-bg-color;
  margin-top: 30px;
  height: 100px;
  .footer-copyright {
    background-color: $footer-bg-color;
    color: $footer-color;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
}