$nav-background-color: #ffe400;
$grey-color: #808080;
$nav-color: #090804;
$black-color: #222;
$btn-backround-color: #eeeeee;
$btn-color: #fff;
$btn-hover: rgba(255, 255, 0, 0.459);

.nav-menu {
  background-color: $nav-background-color;

  a {
    color: $nav-color;
  }

  .search-icon {
    cursor: pointer;

    button {
      background-color: inherit;
      border: 0;
      color: $nav-color;
      padding: 0 14px;

      &:hover {
        background-color: lighten($nav-background-color, 30);
      }
    }
  }

  .nav-wrapper {
    margin: 0 10px;
  }

  ul {
    li {
      a {
        text-transform: capitalize;

        &:hover {
          background-color: lighten($nav-background-color, 30);
        }
      }
    }
  }

  .nav-search {
    left: 200px;
    position: absolute;
    top: 10px;
  }

  .active-link {
    background-color: lighten($nav-background-color, 7);
  }

    .nav-btn {
      color: $black-color;
      padding: 2px 20px;

      &:hover {
        background-color: $nav-background-color;
        color: $nav-color;
      }
    }

  .nav-btn-side {
    color: $black-color;
    width: 100%;

    &:hover {
      background-color: $grey-color;
    }
  }
}

.material-icons {
  display: inline !important;
}

.dropdown-content {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-top: 0;
  top: 0 !important;

  li {
    a {
      color: initial;
      font-size: small;
      line-height: 20px;
      text-transform: capitalize;

      &:hover {
        background-color: $black-color;
        color: $nav-color;
      }
    }

    button {
      border: none;
      color: inherit;
      width: 100%;

      &:hover {
        background-color: $btn-backround-color;
      }
    }
  }
}

.medium-search {
  left: 0;
  position: absolute;
  top: 58px;
  width: 100%;
}

#more-recipe {

  a {
    height: 50px;
    width: 100%;
  }

  button {
    color: $black-color;
    width: 100%;

    &:hover {
      background-color: $btn-backround-color;
    }
  }
}

.nav-extended {
  height: 70px;
}
