$nav-background-color: #794023;
// #AB6F50;
// rgba(78, 31, 31, 0.877);
$btn-backround-color: rgba(78, 31, 31, 0.877);
$btn-color: #fff;
$btn-hover: 946463;
  .nav-menu {
    height: 50px;
    background-color: $nav-background-color;

    .search-icon {
      cursor: pointer;
      margin-right: 15px;
      margin-top: 5px;
      padding: 4px;
    }

    ul {
      padding-top: 10px;
      a {
        text-transform: uppercase;
        &:hover {
          background-color: lighten($nav-background-color, .50);
        }
      }
    }
    
    .nav-btn {
      background-color: inherit;
      box-shadow: none;
      color: $btn-color;
      border: none;
      background-color: $btn-backround-color;
      margin-left: 10px;
      width: 100px;
      text-align: center;
      border-radius: 15px;
      &:hover{
        background-color: $btn-hover;
      }
    }
  }


nav.nav-extended{
  height: 70px;
  padding-left: 10px;
  .button-collapse{
    padding-top: 15px;
  }
}
