$header-bg-color: rgb(223, 63, 63);
$header-text-color: #fff;

$border-color: rgb(223, 63, 63);
$btn-bg-color: #fff;
$btn-color: #090804;
$black-color: #222;
$grey-color: grey;


$btn-hover-bg-color: rgb(223, 63, 63);
$btn-hover-color: #fff;
$link-hover-color: #a6dc00;
$link-color: darken($link-hover-color, 10);
$error-txt-color: #ff0000;

.auth-form {
  padding-top: 10vh;
  border-radius: 10px;

  .header-text {
    background-color: $header-bg-color;
    margin: 10px -12px;
    margin-top: -5px;
    padding: 10px;
    color: $header-text-color;
  }

  .error-class {
    font-size: small;
    margin-left: 42px;
    color: $error-txt-color;
  }

  form {
    border-radius: 15px;    
    padding-left: 10px;
    padding-right: 10px;
  }

  .auth-btn {
    background-color: $btn-bg-color;
    border: 1px $border-color solid;
    border-radius: 15px;
    color: $btn-color;
    font-size: 20px;
    width: 100%;

    &:hover{
      background-color: $btn-hover-bg-color;
      color: $btn-hover-color;
    }
  }

  .auth-link {
    float: right;
    font-size: 20px;
    margin: 15px auto;

    a {
      color: $link-color;

      &:hover {
        color: $link-hover-color;
        text-decoration: underline;
      }
    }
  }

  .input-field .prefix ~ input {
    margin-bottom: 0px;
    padding-top: 10px;
  }
}

.user-details {
  display: inline;

  p {
    color: $grey-color;
    font-style: italic;

    span {
      color: $black-color;
    }
  }
}