@import "../../styles/sass/base";

$header-bg-color: $red-color;
$header-text-color: $white-color;

$border-color: $red-color;
$btn-bg-color: $white-color;
$btn-color: $black-color;

$btn-hover-bg-color: $red-color;
$btn-hover-color: $white-color;
$link-hover-color: #60A39A;
$link-color: darken($link-hover-color, 10);
$error-txt-color: $red-color;

.auth-form {
  border-radius: 10px;
  padding-top: 10vh;

  .header-text {
    background-color: $header-bg-color;
    color: $header-text-color;
    margin: 0 -12px;
    margin-bottom: 15px;
    padding: 10px;
  }

  .server-error-text {
    color: error-txt-color;
  }
  .error-class {
    color: $error-txt-color;
    font-size: small;
    margin-left: 42px;
  }

  form {
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .auth-btn {
    background-color: $btn-bg-color;
    border: 1px $border-color solid;
    border-radius: 15px;
    color: $btn-color;
    font-size: 20px;
    margin-top: 10px;
    width: 100%;

    &:hover{
      background-color: $btn-hover-bg-color;
      color: $btn-hover-color;
    }
  }

  .auth-link {
    float: right;
    font-size: 15px;
    margin: 15px auto;

    a {
      color: $link-color;

      &:hover {
        color: $link-hover-color;
        text-decoration: underline;
      }
    }
  }

  .input-field .prefix ~ input {
    margin-bottom: 0px;
    padding-top: 10px;
  }
}

.server-error-text {
  color: $error-txt-color;
  text-align: center;
  margin: 15 5px;
}

.user-details {
  display: inline;

  p {
    color: $grey-color;
    font-style: italic;

    span {
      color: $black-color;
    }
  }
}