#recipe-card {
  margin: 0 auto;
  height: 400px;
  
  img{
     height: 200px;
     width: fit-content;
  }
  img:hover {
    // -webkit-filter: grayscale(100%);
    // filter: grayscale(100%);
   
  }

  .ellipses {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  a {
    color: inherit;
  }

  a:hover {
   text-decoration: underline; 
  }
  button{
    border: none;
  }
  button:focus{
    background-color: #fff;
  }
}