@import "../styles/sass/base";

$search-bg-color: $white-color;
$search-txt-color: $black-color;
$search-active-bg-color: lighten($red-color, 5);
$search-active-color: $white-color;
$search-border-color: lighten($grey-color, 0.5);


.search-input {
  input[type=search]:not(.browser-default) {
    background-color: $search-bg-color;
    border-radius: 2px;
    border: 2px $search-border-color solid;
    color: $search-txt-color;
    font-size: 18px;
    padding: 0 5px;
    width: 200px;

    @media (min-width:1025px) {
      width: inherit;
    }

    @media (min-width:801px) {
      width: inherit;
    }

    @media only screen
    and (min-device-width: 690px)
    and (max-device-width: 995px)
    and (-webkit-min-device-pixel-ratio: 1) {
      height: 50px;
      width: 98vw;
    }

    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {
      border-radius: 0;
      height: 50px;
      margin-bottom: 0;
      width: 96.5vw;
    }

    &:focus {
      background-color: $search-active-bg-color;
      border: 0;
      color: $search-active-color;
      width: 400px;

      @media (min-width:1025px) {
        width: inherit;
      }

      @media (min-width:801px) {
        width: 400px;
      }

      @media only screen
      and (min-device-width: 690px)
      and (max-device-width: 995px)
      and (-webkit-min-device-pixel-ratio: 1) {
        width: 98.5vw;
      }

      @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 480px)
      and (-webkit-min-device-pixel-ratio: 2) {
        width: 96.5vw;
      }

    }
  }

  input[type=search]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
  }
}
