$action-button-bg-color: #fff;
$button-color: rgb(41, 16, 16);


.action-btns {
  color: rgb(77, 75, 75);
  font-size: 15px;
  cursor: pointer;

    span {
    display: inline-block;
    margin: 5px;
    padding-left: 4px;
  }
}

.btn-list {
  padding-left: 20px;
  text-justify: distribute-all-lines;
  text-align: center;

    li {
    display: inline-block;
    list-style-type: none;
    padding-left: 3px;
    padding-right: 3px;
  }

  button {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }
}
.favorite {
  color: red;
}