$side-bar-color: #fff;
$side-bar-font: 20px;
$side-bar-bg-color: #fff;
$side-bar-width: 10%;


img {
  max-height: 400px;
  max-width: 300px;
  align-items: center;
}


.profile-form {

  .error-text {
    font-size: small;
    margin-left: 42px;
    color: red;
  }

  .input-field .prefix ~ input {
    margin-bottom: 0px;
  }
}

.profile-cover {
  border: grey 2px solid;
  margin-top: 3vh;
  background-color: #E4E6EA;
  padding: 10px;

  .profile-image {
    height: 20vh;
    width: 20vh;
  }
}
.container .row {
  margin-left: 0rem;
  margin-right: 0rem;
}
.sidebar {
  background-color: $side-bar-bg-color;
  border: #808080 2px solid;
  display: flex;
  flex-direction: column;
  font-size: $side-bar-font;
  font-weight: bolder;
  height: 30vh;

  .user {
    text-align: center;
  }

  .img {
    border-radius: 20px;
    margin: 0 auto;
    padding-top: 10px;
  }

  ul {
    li {
      line-height: 35px;
      margin-left: 10px;
      text-align: left;
    }
    .active {
      color: #008000;
    }
  }
}

.content {
  margin-top: 0;
}