img {
  max-height: 400px;
  max-width: 300px;
  align-items: center;
}
.profile-page {
  max-width: 600px;
  margin: 10px;
  padding: 10px;

  
}
.profile-name{
  color: #080847;
  text-transform: capitalize;
}
.profile-form {
  .error-text {
    font-size: small;
    margin-left: 42px;
    color: red;
  }
  .input-field .prefix ~ input {
    margin-bottom: 0px;
  }
}