.my-review {
  background-color: #efebe9;
  padding: 10px;
  border: 2px  color;
  max-width: 300px;
  margin: 10px;
  border-radius: 5px;
  clear: both;
}
.meta-date {
  color: grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: lowercase;
  display: inline;
  text-decoration-style: italic;
}

.reviews-page {
  margin-top: 50px;
}