$footer-bg-color: #808080;
$footer-color: #fff;

.page-footer {
  background-color: $footer-bg-color;
  height: 100px;
  margin-top: 30px;

  .footer-copyright {
    background-color: $footer-bg-color;
    color: $footer-color;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
}