.sweet-loading {
  display: flex;
  flex-direction: column;
  margin: 30px 48%;

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    margin: 30px 38vw;
  }
}