@import "../../styles/sass/base";

$nav-background-color: $white-color;
$nav-color: $red-color;
$btn-backround-color: #eeeeee;
$btn-color: $white-color;
$btn-hover: rgba(255, 255, 0, 0.459);

.nav-menu {
  background-color: $nav-background-color;

  a {
    color: $nav-color;
  }

  .brand-logo {
    font-family: 'Henny Penny', cursive;
    font-weight: bolder;
    @media screen and (min-width: 0){
      font-size: 24px;
    }
  }

  .search-icon {
    cursor: pointer;

    button {
      background-color: inherit;
      border: 0;
      color: $nav-color;
      padding: 0 14px;

      &:hover {
        background-color: lighten($nav-background-color, 30);
      }
    }
  }

  .nav-wrapper {
    margin: 0 10px;
  }

  ul {
    li {
      a {
        text-transform: capitalize;

        &:hover {
          background-color: lighten($nav-background-color, 30);
        }
      }
    }
  }

  .nav-search {
    left: 200px;
    position: absolute;
    top: 10px;
  }

  .active-link {
    background-color: lighten($nav-background-color, 7);
  }

    .nav-btn {
      color: $black-color;
      padding: 0px 20px;

      &:hover {
        background-color: $nav-background-color;
        color: $nav-color;
      }
    }

  .nav-btn-side {
    color: $black-color;
    width: 100%;

    &:hover {
      background-color: $grey-color;
    }
  }
}

.dropdown-content {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-top: 0;

  li {
    background-color: $nav-background-color;

    .material-icons {
      display: inline;
    }

    a {
      color: initial;
      font-size: small;
      line-height: 20px;
      text-transform: capitalize;
      padding-left: 5px;
      padding-right: 5px;

      &:hover {
        color: $nav-color;
      }
    }

    button {
      border: none;
      color: inherit;
      width: 100%;

      &:hover {
        background-color: $btn-backround-color;
      }
    }

    &:hover {
      background-color: lighten($btn-backround-color, 0.2);
    }
  }
}


#more-recipe {

  a {
    height: 50px;
    width: 100%;
  }

  button {
    color: $black-color;
    width: 100%;

    &:hover {
      background-color: $btn-backround-color;
    }
  }
}

.nav-extended {
  height: 70px;
}
