@import "../../styles/sass/base";

$pagination-bg-color-link: #393030;

.pag-list {

  li {
    border-radius: 3px;
    display: inline;
    margin: 0 4px;
    padding: 10px;
  }
}

.pagination li a {
  color: $pagination-bg-color-link;
  display: inline-block;
  font-size: 1.2rem;
  line-height: inherit;
  padding: 0 10px;
}

.link {
  cursor: pointer;

  &:focus {
    background-color: inherit;
    border: 0;
    outline: 0;
  }
}

.page-class {
  color: $white-color;
}

.active-page {
  background-color: $brown-color;

  a {
    color: $white-color;
  }

  &:focus {
    border: 0;
  }
}


.next-prev {

  border: 1px $brown-color solid;
  cursor: pointer;

  a:focus {
    outline: 0;
  }
}