$header-bg-color: #ffe400;
$header-text-color: #090804;

$border-color: #222;
$btn-bg-color: #fff;
$btn-color: #090804;

$btn-hover-bg-color: #222;
$btn-hover-color: #ffe400;
$link-hover-color: #a6dc00;
$link-color: darken($link-hover-color, 10);
$error-txt-color: #ff0000; 

.signup-form {
  margin-top: 100px;

  .error-class {
    font-size: small;
    margin-left: 42px;
    color: $error-txt-color;
  }

  .input-field .prefix ~ input {
    margin-bottom: 0px;
    padding-top: 10px;
  }

  .auth-text {
    background-color: $header-bg-color;
    margin: 10px -12px;
    margin-top: -5px;
    padding: 10px;
    color: $header-text-color;
  }

  .sign-up-btn {
    background-color: $btn-bg-color;
    border: 2px $border-color solid;
    border-radius: 25px;
    color: $btn-color;
    font-size: 20px;
    width: 100%;

    &:hover {
      background-color: $btn-hover-bg-color;
      border: 23px solid  1B421E;
      color: $btn-hover-color;
    }
  }
}

.login-link {
  font-size: 20px;
  margin: 15px auto;

  a {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }
}